# Copia este archivo como terraform.tfvars y ajusta si es necesario.
# terraform.tfvars está en .gitignore: NUNCA se versiona.
# Este ejemplo no contiene secretos y los valores por defecto ya son válidos.

aws_region   = "eu-west-1"
project_name = "logiflow"
environment  = "dev"
owner        = "carlos-gutierrez"
